@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;

  --color-black: var(--color-zinc-950);
  --color-white: var(--color-stone-50);
}

[x-cloak] {
  display: none !important;
}
