---
import SectionHeader from "@src/components/ui/SectionHeader.astro";
import SectionWrapper from "@src/components/ui/SectionWrapper.astro";
import { t } from "@src/i18n";
import { Icon } from "astro-icon/components";

const faqItems = t.faq.items;
---

<SectionWrapper
  id="faq"
  class="grid"
  containerClass="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-8 lg:gap-16 items-start"
>
  <div class="md:sticky md:top-8 md:max-w-4/5">
    <SectionHeader tag={t.faq.tag} title={t.faq.title} />
  </div>

  <div class="flex flex-col">
    {
      faqItems.map((item) => (
        <div class="accordion-item border-b border-black">
          <button
            type="button"
            class="accordion-button flex w-full cursor-pointer items-center justify-between gap-4 border-none bg-transparent py-5 text-left transition-all duration-300 hover:opacity-65"
          >
            <span class="text-lg transition-all duration-300 in-[.active]:font-medium">
              {item.question}
            </span>
            <Icon
              name="material-symbols-light:add"
              class="h-5 w-5 shrink-0 transition-transform duration-300 in-[.active]:rotate-45"
            />
          </button>
          <div class="accordion-content h-0 overflow-hidden transition-[height] duration-300">
            <div class="translate-y-2.5 pb-3 opacity-0 transition-all duration-300 in-[.active]:translate-y-0 in-[.active]:opacity-100">
              <p class="">{item.answer}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</SectionWrapper>

<script>
  import { initFaqAccordion } from "@src/utils/faqAccordion";

  initFaqAccordion();
  document.addEventListener("astro:after-swap", initFaqAccordion);
</script>
