---
interface Props {
  tag: string;
  title: string;
}

const { tag, title } = Astro.props;
---

<span
  class="mb-4 inline-block text-base font-medium tracking-wider text-zinc-500 sm:mb-6"
  >{tag}</span
>
<h2 class="mb-16 text-4xl font-medium text-black lg:mb-16 lg:text-5xl">
  {title}
</h2>
