---
interface Props {
  tag: string;
  title: string;
}

const { tag, title } = Astro.props;
---

<span
  class="inline-block mb-4 text-base text-neutral-500 font-medium tracking-wider sm:mb-6"
  >{tag}</span
>
<h2 class="mb-16 text-4xl lg:text-5xl font-medium text-black lg:mb-16">
  {title}
</h2>
